    <nav>
      <ul>
        <li>
          <a href="/">
            <img src="img/logo.svg" alt="apple">
          </a>
        </li>
        <li>
          <a href="/products">Products</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </nav>
